<!DOCTYPE html>
<html ng-app="StudentApp">
	<head>
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
			<div ng-controller="StudentController">
				
				<input type="text" name="studentName" ng-model="name"/>
				<ul>
				  <li ng-repeat="x in names | limitTo : 2 : start">
				    {{ x }}
				  </li>
				</ul>
				<button ng-click="previous();"><<</button>
				<button ng-click="next();">>></button>
			</div>	
	</body>
</html>